<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incident Response Training</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
<body>
    <header>
        <h1>Incident Response Training Plattform</h1>
        <nav>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('scenarios') }}">Scenarios</a>
            <a href="{{ url_for('exercises') }}">Exercises</a> <!-- New link to Exercises -->
            <a href="{{ url_for('reports') }}">Reporting</a>
            <a href="{{ url_for('injects') }}">Injects</a>
            <a href="{{ url_for('communication') }}">Communication</a>
            <a href="{{ url_for('edit_config') }}">Setup</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Zentric UB GmbH</p>
    </footer>
</body>
</html>

