{% extends 'base.html' %}

{% block content %}

<style>

    .send-button:hover {
      background-color: #91b8bd;
  }
  .message {
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 4px;
      background-color: #a6c7d6;
  }
  .message .timestamp {
      font-size: 0.8em;
      color: #999;
  }
  .message .user {
      font-weight: bold;
  }

  .chat-input {
      width: 80%;
      padding: 10px;
      margin-right: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
  }

  .chat-input:hover {
      background-color: #91b8bd; /* Hellblau */
  }

  .chat-input:focus {
      background-color: white;
      outline: none; /* Entfernt den Standard-Fokusrahmen */
  }


</style>


<div class="chat">
    <div id="chat-window" class="chat-window">
        <!-- Chat-Nachrichten werden hier angezeigt -->
    </div>
    <input type="text" id="chat-input" class="chat-input" placeholder="Nachricht eingeben">
    <button id="send-button" class="send-button">Senden</button>
</div>


<audio id="ping-sound" src="/static/sounds/newmessage.wav" preload="auto"></audio>




<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        const chatWindow = document.getElementById('chat-window');
        const chatInput = document.getElementById('chat-input');
        const sendButton = document.getElementById('send-button');
        const pingSound = document.getElementById('ping-sound');
        
        // Generiere zufällige ID
        const userId = 'user' + Math.floor(Math.random() * 10000);

        // Format timestamp
        function formatTimestamp(timestamp) {
            const date = new Date(timestamp);
            return date.toLocaleString();
        }

        // Load saved chat messages
        fetch('/get_chat_log')
            .then(response => response.json())
            .then(data => {
                data.forEach(message => {
                    displayMessage(message);
                });
                chatWindow.scrollTop = chatWindow.scrollHeight;
            });

        // Empfangene Nachrichten anzeigen
        socket.on('message', function(data) {
            displayMessage(data);
            chatWindow.scrollTop = chatWindow.scrollHeight;
            pingSound.play();
        });
        
        // Nachricht senden
        sendButton.addEventListener('click', () => {
            const message = chatInput.value;
            const timestamp = new Date().toISOString();
            const messageData = {user: userId, message: message, timestamp: timestamp};
            socket.emit('send_message', messageData);
            //displayMessage(messageData);
            chatInput.value = '';
        });
        
        // Senden bei Enter-Taste
        chatInput.addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                sendButton.click();
            }
        });

        // Display message function
        function displayMessage(data) {
            const messageElement = document.createElement('div');
            messageElement.className = 'message';
            messageElement.innerHTML = `<span class="timestamp">${formatTimestamp(data.timestamp)}</span><br><span class="user">${data.user}</span>: ${data.message}`;
            chatWindow.appendChild(messageElement);
        }
    });
</script>
{% endblock %}
