{% extends 'base.html' %}

{% block content %}
<form method="POST">
<h2>E-Mails</h2>
<details>
    <label for="leading_email_platform">Leading EMail Platform:</label><br>
    <select id="leading_email_platform" name="leading_email_platform">
        {% for platform in config['list_of_email_platforms'] %}
            <option value="{{ platform }}" {% if config['leading_email_platform'] == platform %} selected {% endif %}>{{ platform }}</option>
        {% endfor %}
    </select><br>
    <label for="email_server">Email Server:</label><br>
    <input type="text" id="email_server" name="email_server" value="{{ config['email_server'] }}"><br>
    
    <label for="email_from">Email From:</label><br>
    <input type="text" id="email_from" name="email_from" value="{{ config['email_from'] }}"><br>
    
    <label for="email_to">Email To:</label><br>
    <input type="text" id="email_to" name="email_to" value="{{ config['email_to'] }}"><br>
    
    <label for="email_subject">Email Subject:</label><br>
    <input type="text" id="email_subject" name="email_subject" value="{{ config['email_subject'] }}"><br>
    
    <label for="email_user">Email User:</label><br>
    <input type="text" id="email_user" name="email_user" value="{{ config['email_user'] }}"><br>
    
    <label for="email_password">Email Password:</label><br>
    <input type="password" id="email_password" name="email_password" value="{{ config['email_password'] }}"><br>


</details>    
<hr>
<h2>Texting</h2>
<details>
    <label for="leading_text_platform">Leading Text Platform:</label><br>
    <select id="leading_text_platform" name="leading_text_platform">
        {% for platform in config['list_of_texting_platforms'] %}
            <option value="{{ platform }}" {% if config['leading_text_platform'] == platform %} selected {% endif %}>{{ platform }}</option>
        {% endfor %}
    </select><br>

    <label for="text_platform">Text Platform:</label><br>
    <input type="text" id="text_platform" name="text_platform" value="{{ config['text_platform'] }}"><br>
    
    <label for="text_token_keys">Text Token Keys:</label><br>
    <input type="text" id="text_token_keys" name="text_token_keys" value="{{ config['text_token_keys'] }}"><br>
    
    <label for="text_token_secret">Text Token Secret:</label><br>
    <input type="text" id="text_token_secret" name="text_token_secret" value="{{ config['text_token_secret'] }}"><br>
    
    <label for="text_from">Text From:</label><br>
    <input type="text" id="text_from" name="text_from" value="{{ config['text_from'] }}"><br>
    
    <label for="text_to">Text To:</label><br>
    <input type="text" id="text_to" name="text_to" value="{{ config['text_to'] }}"><br>
</details>    
<hr>
<label for="screen_notify">Screen Notification:</label><input type="checkbox" id="screen_notify" name="screen_notify" value="true" {% if config['screen_notify'] %} checked {% endif %}><br>


    <input type="submit" value="Submit">
</form>

{% endblock %}
