{% extends 'base.html' %}

{% block content %}

<style>
    .exercise-container {
        width: 100%;
    }
    .exercise {
        padding: 8px;
    }
    .exercise:nth-child(even) {
        background-color: #f2f2f2;
    }
    .exercise:nth-child(odd) {
        background-color: #ddd;
    }
</style>

<h2>Dashboard</h2>
<div class="exercise-container">
  <h3>Current Exercises</h3>
  {% for exercise in exercises %}
    <div class="exercise">
      <strong>Name:</strong> {{ exercise.name }}<br>
      <strong>Status:</strong> {{ exercise.status }}<br>
      <strong>Description:</strong> {{ exercise.description }}<br>
      <strong>Last execution:</strong> {{ exercise.last_performed }}<br>
      {% if exercise.inject_comment %}
        <strong>Comment:</strong>
        <ul>
          {% for key, value in exercise.inject_comment.items() %}
            <li><strong>{{ key }}:</strong> {{ value }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}