{% extends 'base.html' %}

{% block content %}
<h2>Inject Bearbeiten</h2>
<form id="edit-inject-form" action="{{ url_for('edit_inject', inject_id=inject.id) }}" method="post" style="display: flex; flex-direction: column; align-items: start;">

    <input type="hidden" id="edit-inject-id" value="{{ inject.id }}">
    <label for="edit-title">Titel:</label>
    <input type="text" id="edit-title" value="{{ inject.title }}" style="margin-bottom: 10px;">
    <label for="edit-description">Beschreibung:</label>
    <textarea id="edit-description" style="height: 100px; width: 300px; margin-bottom: 10px;">{{ inject.description }}</textarea>
    <label for="edit-exercise-benefit">Übungsnutzen:</label>
    <textarea id="edit-exercise-benefit" style="height: 100px; width: 300px; margin-bottom: 10px;">{{ inject.exercise_benefit }}</textarea>
    <label for="edit-expected-response">Erwarteter Umgang:</label>
    <textarea id="edit-expected-response" style="height: 100px; width: 300px; margin-bottom: 10px;">{{ inject.expected_response }}</textarea>
    <label for="edit-assigned-scenarios">Zugewiesene Szenarien (Komma getrennt):</label>
    <input type="text" id="edit-assigned-scenarios" value="{{ inject.assigned_scenarios }}" style="margin-bottom: 10px;">
    <label for="edit-communication_type">Kommunikationsart:</label>
    <select id="edit-communication_type" style="margin-bottom: 10px;">
        <option value="email" {% if inject.communication_type == 'email' %}selected{% endif %}>Email</option>
        <option value="text" {% if inject.communication_type == 'text' %}selected{% endif %}>Text</option>
        <option value="call" {% if inject.communication_type == 'call' %}selected{% endif %}>Anruf</option>
        <option value="personally" {% if inject.communication_type == 'personally' %}selected{% endif %}>Persönlich</option>
    </select>
    <button type="submit">Speichern</button>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(window).on('load', function() {
    $('#edit-inject-form').on('submit', function(e) {
        e.preventDefault();
        console.log('Formular abgesendet');

        var data = {
            id: $('#edit-inject-id').val(),
            title: $('#edit-title').val(),
            description: $('#edit-description').val(),
            exercise_benefit: $('#edit-exercise-benefit').val(),
            expected_response: $('#edit-expected-response').val(),
            communication_type: $('#edit-communication_type').val(),
            assigned_scenarios: $('#edit-assigned-scenarios').val().split(',')
        };

        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response) {
                // Dieser Code wird ausgeführt, wenn der Server eine erfolgreiche Antwort sendet
                alert('Daten erfolgreich gespeichert!');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Dieser Code wird ausgeführt, wenn der Server einen Fehler zurückgibt
                alert('Ein Fehler ist aufgetreten: ' + textStatus);
            }
        });
    });
});
</script>
{% endblock %}